* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    letter-spacing: 1.8px;
}

::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1,
h2,
h3,
h4 {
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    padding: 15px 18px;
    background: rgb(18, 163, 37);
    border-radius: 5px;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    line-height: 0;
}

.btn:hover {
    background: rgb(16, 143, 33);
}



/* Navbar Styling */

.navbar {
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    opacity: 0.8;
    position: fixed;
    z-index: 30;
}

.logo {
    color: white;
}

.logo span {
    color: chartreuse;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar a {
    padding: 10px 20px;
    color: white;
    margin: 0 5px;
}

#contact_link {
    margin: 0 0 0 5px;
    padding: 10px 12px;
}

.navbar a:hover {
    border-bottom: 2px solid chartreuse;
}


/* Hero Styling */

.hero_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.hero {
    background: url(../img/home/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
}

.hero::before {
    content: '';
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;

}

.hero_head {
    font-size: 60px;
    font-weight: 200;
}

.hero_text {
    font-size: 24px;
    padding: 20px 0;
}

.hero_btn {
    margin-top: 10px;
}


/* About scetion styling */

.box_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.box {
    text-align: center;
    width: 100%;
    letter-spacing: 1;
}

.box i {
    background: #28a745;
    color: #fff;
    padding: 16px;
    border-radius: 50%;
    animation: mymove 3s infinite ease-out;
}

@keyframes mymove {
    0% {
        background: #28a745;
    }

    50% {
        background: #085f1f;
    }

    100% {
        background: #28a745;
    }
}

.card_container {
    width: 100%;
    height: 470px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
}

.card_one {
    width: 50%;
}

.card_one img {
    object-fit: cover;
    width: 100%;
    /* height: 450px; */
    height: 100%;

}

.card_two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    height: 100%;
    flex: 1;
    background: #28a745;
    color: white;
}

.card_two h4 {
    padding-bottom: 0;
}

.card_two h1 {
    font-weight: 200;
    font-size: 2em;
}

.card_two a {
    margin-top: 30px;
    padding: 14px 25px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 18px;
}

.card_two a:hover {
    opacity: 0.9;
}

/* Case section Styling */

.case_intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.case_intro h4 {
    padding-bottom: 0;
}

.case_intro h1 {
    font-size: 40px;
    font-weight: 300;
    margin: 18px 0;
}

.case_intro p {
    margin-bottom: 20px;
}

.case_image_section {
    display: flex;
    flex-basis: 100%;
}

.image_box {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.image_box img {
    margin: 5px;
}

.flex-items {
    display: flex;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3333%;
    float: left;
    padding: 10px;
}

.item img {
    width: 100%;
    border-radius: 50%;
}

/* Contact Section styling */

.contact_card_two {
    background: rgb(230, 229, 229);
    color: #000;
}

.contact_card_two input[type="text"],
.contact_card_two input[type="email"],
.contact_card_two input[type="number"]{
    width: 100%;
    padding: 15px 18px;
    border-radius: 5px;
    margin: 18px 0;
    outline:none;
    border: none;
}

.contact_card_two a{
    border: 2px solid #000;
    color: #fff;
    background: #444;
    padding: 12px 15px;
}

/* footer Section Styling */

footer{
    padding: 20px 0;
    background:#333;
    color: #fff;
}

.footer_items{
    text-align: center;
}

.footer_items a:hover{
    color:#34e25d;
}