@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    line-height: 1.6em;
    letter-spacing: 1.8px;
}

h1,
h2 {
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    padding: 15px 18px;
    background: rgb(18, 163, 37);
    border-radius: 5px;
    font-size: 18px;
    display:inline-block;
    cursor: pointer;
    line-height: 0;
}

.btn:hover {
    background: rgb(16, 143, 33);
}



/* Navbar Styling */

.navbar {
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    opacity: 0.8;
    position: fixed;
    z-index: 30;
}

.logo {
    color: white;
}

.logo span {
    color: chartreuse;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar a {
    padding: 10px 20px;
    color: white;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px solid chartreuse;
}


/* Hero Styling */

.hero_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.hero {
    background: url(../img/home/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
}

.hero::before{
    content:'';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;

}

.hero_head {
    font-size: 60px;
    font-weight: 200;
}

.hero_text {
    font-size: 24px;
    padding: 20px 0;
}

.hero_btn{
    margin-top: 10px;
}


